.punch {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.punch__inner {
  text-align: center;
}

.punch__status {
  display: inline-block;
  padding: 4px 16px;
  border-radius: 50px;
  background-color: #c8c8c8;
  font-size: 18px;
  font-weight: bold;
  color: #696969;
  margin-top: 200px;
  margin-bottom: 30px;
}

.punch__date {
  font-size: 40px;
  font-weight: 400px;
}

.punch__time {
  font-size: 80px;
  font-weight: 700;
  margin: 30px 0;
}

.punch__button-container {
  display: flex;
  gap: 80px;
  justify-content: center;
  margin-top: 70px;
}

.punch__button {
  width: 200px;
  padding: 15px 0;
  border-radius: 20px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.punch__button--black {
  background-color: #000000;
  color: #ffffff;
}

.punch__button--white {
  background-color: #ffffff;
  color: #000000;
}

.punch__message {
  margin-top: 100px;
  font-size: 26px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0.15em;
}