@media screen and (max-width: 1540px) {
  .header__logo-img {
    width: 24vw;
    min-width: 280px;
  }
  .header__nav-list {
    gap: 3vw;
  }
  .header__nav-link,
  .logout__link {
    font-size: 1.5vw;
    min-size: 18px;
  }

  .c-form-heading {
    font-size: 2.3vw;
    min-size: 28px;
  }

  .c-form-label {
    font-size: 1.5vw;
    min-size: 18px;
  }

  .c-form-input {
    height: 4vw;
    max-height: 60px;
    min-height: 45px;
    font-size: 1.5vw;
  }

  .register-form .c-form-input {
    height: 3.5vw;
    max-height: 45px;
    min-height: 35px;
  }

  .c-btn-submit {
    height: 4vw;
    max-height: 60px;
    min-height: 45px;
    font-size: 1.8vw;
    min-font-size: 18px;
  }

  .register-form__link a,
  .login-form__link a {
    font-size: 1.4vw;
    min-font-size: 14px;
  }

  .l-main-content {
    margin-top: 40px;
    width: 100%;
  }

  .page-title__text {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .attendance-detail__table {
    height: auto;
  }

  .attendance-detail__row {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    height: auto !important;
  }

  .attendance-detail__label {
    margin-left: 0;
    width: 100%;
    margin-bottom: 8px;
  }

  .attendance-detail__content {
    margin-left: 0;
    gap: 20px;
    width: 100%;
  }

  .attendance-detail__value {
    width: auto;
  }

  .attendance-detail__item {
    margin-right: 20px;
    margin-left: 20px;
  }

  .attendance-detail__link {
    font-size: 14px;
  }
}